#pages {
  > * {
    display: none;
  }

  > .active {
    display: block;
  }
}

/*General*/
.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: 72px 48px;
  background: $color-light;
  //border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
  box-shadow: 1em 1em 1em $color-dark;
}

.row-no-margin {
  margin-left: 0;
  margin-right: 0;
}

.row-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 0;
}

.no-padding-left {
  padding-left: 0;
  padding-right: 3px;
}

.no-padding-right {
  padding-left: 3px;
  padding-right: 0;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

.padding-top {
  padding-top: 3px;
}

/*Intro*/

.intro {
  padding-top: 100px;
  padding-bottom: 100px;

}

.intro-text {
  position: absolute;
  top: 26%;
  left: 16%;
  //transform: translate(-50%, -50%);
}

.intro {
  a {
    text-decoration: none;
  }
}

.intro-text {
  h1 {
    color: $color-two;
    font-size: 24px;
    text-align: left;
    white-space: nowrap;
  }
}

/*.intro-text {
  p {
    color: $color-two;
    font-size: 15px;
    margin-top: -20px;
    text-align: center;
    white-space: nowrap;
  }
}*/

.intro-img {
  height: 150px;
  width: 150px;
  position: relative;
}

.intro-img {
  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
}

.animated {
  //transform: translate(-50%, -30%);
  cursor: pointer;
}

/*.animated p {
  padding-top: 35px;
}*/

.animated {
  &:hover {
    transform: scale(1.5);
    /*transform: translate(-50%, -50%);
    position: absolute;
    content: "";
    opacity: 1;
    top: 50%;
    left: 50%;
    background: none;
    width: 100%;
    height: 100%;
    transition: all 1s;

    /*p {
      padding-top: 10px;
      transition: all 2s;
    }*/
  }
}

.opening-info {
  height: 120px;
  border-radius: 2.5%;
  margin-top: 7px;
  background-color: $color-one;
  position: relative;
}

/*Services*/

.carousel-slide {
  display: none;


  &.active {
    display: block;
    background-color: $color-dark;
    border-radius: 5%;
  }
}

.services {
  padding-top: 0;
}

.services-img {
  height: 100%;

}

.services-img {
  img {
    width: 100%;
    height: 300px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 1em 1em 1em $color-light;

  }
}

.services-text {
  padding: 0;
  color: $color-three;
  font-size: 16px;
  text-align: center;
  background-color: $color-one;
}

.fas {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  color: $color-three;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.fas-active {
  color: $color-four;
  background-color: $color-four;
}

/*Portfolio*/
.portfolio {
  padding-top: 0;
}

.portfolio-img {
  width: 100%;
  height: 100%;
  padding: 3px;
  position: relative;
  cursor: pointer;

  &:hover {
    background-color: $color-five;
    border-radius: 10%;
    padding: 0;

    img {
      opacity: 0.6;
      transition: 1.5s;

    }

    .icons {
      opacity: 1;
      color: $color-two;
      transition: 1s;

      &:hover {
        color: $color-one;
      }
    }
  }
}

.portfolio-img {
  img {
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
    opacity: 1;
    background-color: $color-two;
  }
}

.heart {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-45%, -50%);
  opacity: 0;
}

.heart-last  {
  top: 50%;
  left: 51%;
  transform: translate(-50%, -50%);
}

.share {
  position: absolute;
  top: 51%;
  left: 55%;
  transform: translate(-50%, -55%);
  opacity: 0;
}

/*Footer*/

.page-footer {
  ul {
    list-style-type: none;
    padding-left: 0;
  }
}

.footer-info {
  a {
    color: $color-three;
    text-decoration: none;
  }
}
